<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'dashboard' %}">Личный кабинет</a></li>

                {% if not user.is_authenticated %}
                    <li><a href="{% url 'signup' %}">Регистрация</a></li>
                    <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li><a href="{% url 'submit_credit_application' %}">Подать заявку</a></li>
                    <li><a href="{% url 'credit_applications_list' %}">Заявки на кредит</a></li>

                    {% if user.role == 'bank_employee' %}
                        <li><a href="{% url 'manage_applications' %}">Управление заявками</a></li>
                    {% endif %}

                    <li><a href="{% url 'profile' %}">Профиль</a></li>

                    <!-- Добавим форму для выхода с помощью POST-запроса -->
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Выход</button>
                    </form>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Credit System. Все права защищены.</p>
    </footer>
</body>
</html>
